@font-face {
  font-family: "Raleway-Regular";
  src:
    url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src:
    url("../fonts/Raleway-ExtraBold.woff") format("woff"),
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
}

body {
  padding: 0;
  margin: 0;

  max-width: 100vw;
  max-height: 100vh;

  display: flex;
}

.page__title {
  margin: 10vh auto;
  width: 700px;
  height: 400px;
  line-height: 136.18px;

  text-align: center;
  text-transform: uppercase;

  font-family: "Raleway-ExtraBold";
  font-weight: 800;
  font-size: 116px;

  color: #000000;
}
.page__title:hover::before {
  position: absolute;
  top: 200px;
  left: 40%;

  background-color: white;
  border: 2px solid #000000;
  border-bottom: 12px solid #000000;
  border-radius: 20px;
  padding: 36px;

  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  word-spacing: 0;

  text-align: left;
  font-family: "Raleway-Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  white-space: pre;
}
.page__title::after {
  z-index: 2;
  content: "*";
  position: absolute;
}
body:has(.page__title:hover)::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff80;
}

body:has(.page__title:hover) > .page__title {
  color: #808080;
}

body:has(.page__title:hover) > .page__title::before {
  color: #000000;
}
video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .page__title:hover::before {
    left: 30%;
  }
}
@media (max-width: 1200px) {
  .page__title:hover::before {
    left: 10%;
  }
}
@media (max-width: 950px) {
  .page__title:hover::before {
    left: 0%;
  }
}
